<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Thankyou Page</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="final-page" text-align='centre'>THANK YOU FOR FILLING FORM!!</h1>
        <p style="font-size:100px">&#128540;</p>
        <button type="button" onclick="window.location.href = 'http://127.0.0.1:8000/';" class="btn btn-primary">Return Home</button>
    </body>
</html>